/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
	scroll-behavior: smooth;
	scrollbar-color: grey var(--black-color);

}

/* ------------------------------------------- MAIN SECTION */

.main_section{
	position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../assets/header-background.jpg) no-repeat top center;
  background-size: cover !important;
	-webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}


.bg-gray{
	background-color: #2B2B2B;
}

.bg-app-blue{
	background: rgb(5,41,77);
	background: linear-gradient(rgba(5,41,77,1) 0%, rgba(32,64,154,1) 48%, rgba(0,116,187,1) 100%);
}

.bg-blue{
	background: #0d1941;
}

.bg-lightgray{
	background-color: #9797a1;
}

.text-shadow{
	text-shadow: 1px 1px 2px black;
}



.hover-press-animation:hover{
	transform: translateY(4px);
	transition: all 0.1s ease-out;
}

input[type="number"] {
	-moz-appearance: textfield;
}
