/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
	font-family: 'Titillium Web', sans-serif;
	color: var(--black-color);
	scroll-behavior: smooth;
	scrollbar-color: grey var(--black-color);

}

.bg-gray{
	background-color: #2B2B2B;
}

.bg-header-blue{
	background-color: #05294D;
}

.bg-app-blue{
	background: linear-gradient(rgb(23, 95, 168) 0%, rgb(79, 124, 246) 30%, #CCCCFF);

}/* 
	orig. 
	it 0. background: linear-gradient(rgb(28, 91, 153) 0%, rgb(93, 136, 255) 48%, rgb(37, 164, 243) 100%);
	it 3. background: linear-gradient(rgb(23, 95, 168) 0%, rgb(79, 124, 246) 48%, #9a9aff);
*/

.bg-blue{
	background: #263d7c;
}

.bg-lightgray{
	background-color: #9797a1;
}

.text-shadow{
	text-shadow: 1px 1px 2px black;
}

.border-green{
	border-color: #17a2b8;
}

.focus-border-green:focus{
	border-color: #17a2b8;

}

.hover-bg-green:hover{
	background-color:#138496;

}

.bg-green{
	background-color:#17a2b8 ;
}


.hover-press-animation:hover{
	transform: translateY(4px);
	transition: all 0.1s ease-out;
}

input[type="number"] {
	-moz-appearance: textfield;
}
.others {
	color:black
}

.glass{
	background-color: rgba(0, 0, 0, 0.253);

}

.titillium-font{

	font-family: 'Titillium Web', sans-serif;

}
